.footer {
  background-color: black;
  color: white;
  .footer-wrapper {
    padding: 40px 48px 0;
    .footer-before-line {
      display: flex;
      flex-direction: row;
      margin-bottom: 72px;
      .footer-updates {
        display: flex;
        flex-direction: column;
        margin-right: 146px;
        .footer-updates-title {
          margin-bottom: 28px;

          color: #fff;
          font-family: Fira Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 120% */
        }
        .footer-updates-subscribe {
          display: flex;
          justify-content: end;
          align-items: center;
          position: relative;
          #footer-email {
            border: 0;
            border-radius: 72px;
            background-color: #2c2c2e;
            display: flex;
            width: 427px;
            height: 56px;
            padding: 10px 10px 10px 24px;
            align-items: center;
            gap: 10px;
            &::placeholder {
              color: #ebebf599;
              font-family: Fira Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 150% */
            }
          }
          .footer-updates-subscribe-button {
            position: absolute;
            height: 56px;
            padding: 10px 10px 10px 12px;
            align-items: center;
            gap: 10px;
            border: 0;
            border-radius: 72px;
            background: #0a84ff;
            &:hover {
              background: #1d8cfa;
            }

            color: #fff;
            font-family: Fira Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
          }
        }
      }
      .footer-rolling {
        display: flex;
        flex-direction: column;
        margin-right: 175px;
        .footer-rolling-title {
          margin-bottom: 28px;
          cursor: default;

          color: #fff;
          font-family: Fira Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 120% */
        }
        .footer-rolling-menu {
          display: flex;
          flex-direction: column;
          gap: 16px;

          color: #ebebf599;
          font-family: Fira Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 120% */

          .footer-rolling-menu-el {
            cursor: pointer;
            &:hover {
              color: #ebebf5c5;
            }
          }
        }
      }
      .footer-community {
        display: flex;
        flex-direction: column;
        .footer-community-title {
          margin-bottom: 28px;
          cursor: default;

          color: #fff;
          font-family: Fira Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 120% */
        }
        .footer-community-menu {
          display: flex;
          flex-direction: column;
          gap: 16px;

          color: #ebebf599;
          font-family: Fira Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 120% */

          .footer-community-menu-el {
            cursor: pointer;
            &:hover {
              color: #ebebf5c5;
            }
          }
        }
      }
    }
    .footer-line {
      background: #545458a6;
      width: 1344px;
      height: 1px;
      cursor: default;
    }
    .footer-after-line {
      display: flex;
      flex-direction: row;
      gap: 100px;
      padding: 34px 0;
      justify-content: space-between;
      .footer-logo-terms {
        display: flex;
        flex-direction: row;
        gap: 64px;
        align-items: center;
        .footer-logo {
          color: #fff;
          font-family: Fira Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          cursor: default;
        }
        .footer-not-logo {
          display: flex;
          gap: 24px;
          color: #ebebf599;
          font-family: Fira Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          text-align: center;
          .footer-not-logo-terms {
            cursor: pointer;
            &:hover {
              color: #ebebf5c5;
            }
          }
          .footer-not-privacy {
            cursor: pointer;
            &:hover {
              color: #ebebf5c5;
            }
          }
        }
      }
      .footer-social-media {
        display: flex;
        flex-direction: row;
        gap: 24px;
        .footer-social-media-el {
          cursor: pointer;
        }
      }
    }
  }
}
