@import "../colors.scss";

.main-part {
  .main-wrapper {
    max-width: 1344px;
    margin-left: 46px;
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
    gap: 23px;
    .main-aside-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 432px;
      max-height: 490px;
      border-radius: 12px;
      background: #fff;
      box-shadow: 0px 18px 34px 0px rgba(5, 16, 55, 0.15);
      .card-top-info {
        width: 360px;
        .card-title {
          display: flex;
          margin-bottom: 12px;
          color: #000;
          font-family: Fira Sans;
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: 36px;
        }
        .card-author {
          display: flex;
          margin-bottom: 46px;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          .card-author-name {
            color: #000;
            font-family: Fira Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 100% */
          }
        }
      }

      .card-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 72px;
        .card-info-bid {
          display: flex;
          flex-direction: column;
          .info-bid-title {
            display: flex;
            margin-bottom: 12px;
            color: #000;
            font-family: Fira Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
          .info-bid-price-eth {
            display: flex;
            margin-bottom: 8px;
            color: #000;
            font-family: Fira Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 100% */
          }
          .info-bid-price-usd {
            color: var(--system-gray-01-light, #8e8e93);
            font-family: Fira Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 112.5% */
          }
        }
        .card-info-stick {
          width: 1px;
          height: 81px;
          background: #c7c7cc;
          margin: 0 24px;
        }
        .card-info-end {
          display: flex;
          flex-direction: column;
          .info-end-title {
            display: flex;
            margin-bottom: 12px;
            color: #000;
            font-family: Fira Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
          .info-end-time {
            .info-end-time-int {
              display: flex;
              margin-bottom: 8px;
              display: flex;
              gap: 52px;
              color: #000;
              font-family: Fira Sans;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 100% */
            }
            .info-end-time-titles {
              display: flex;
              gap: 20px;
              color: var(--system-gray-01-light, #8e8e93);
              font-family: Fira Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 18px; /* 112.5% */
            }
          }
        }
      }

      .card-buttons {
        display: flex;
        flex-direction: column;
        .place-bid {
          margin-bottom: 20px;
          border: none;
          display: flex;
          width: 360px;
          padding: 20px 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 45px;
          background: #007aff;
          &:hover {
            background: #1d8cfa;
          }

          .place-bid-text {
            color: #fff;
            font-family: Fira Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        .view-artwork {
          background: none;
          border: none;
          .view-artwork-text {
            color: #007aff;
            font-family: Fira Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &:hover {
              color: #2f97ff;
            }
          }
        }
      }
    }
  }
}
