.top-creators {
  .top-creators-wrapper {
    max-width: 1344px;
    margin-left: 46px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    .top-creators-title {
      display: flex;
      text-align: center;
      justify-content: space-between;
      margin-bottom: 36px;
      .top-creators-title-text {
        color: #000;
        font-family: Fira Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px; /* 128.571% */
      }
      .top-creators-title-button-view-all {
        color: #8e8e93;
        font-family: Fira Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 140% */
      }
    }

    .top-creators-cards {
      display: grid;
      grid-template-columns: repeat(4, 312px);
      justify-content: center;
      align-items: center;
      gap: 36px;

      .top-creators-card {
        max-width: 312px;
        border-radius: 16px;
        border: 1.5px solid #e6e6e6;
        background: #fff;
        .top-creators-card-img {
          position: relative;
          .top-creators-card-time-left {
            position: absolute;
            right: 16px;
            top: 16px;
            display: inline-flex;
            padding: 10px 12px;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0px 10px 30px 0px rgba(5, 16, 55, 0.15);
            .time-left-text {
              color: #2c2c2e;
              font-family: Fira Sans;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
        .top-creators-card-info {
          display: flex;
          flex-direction: column;
          .top-creators-card-info-name {
            margin-bottom: 48px;
            font-family: Fira Sans;
            margin-top: 16px;
            margin-left: 20px;

            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 140% */
          }
          .top-creators-card-bottom-info {
            display: flex;
            flex-direction: row;
            .top-creators-card-author {
              display: flex;
              // write styles for img
              .top-creators-card-author {
                width: 24px;
                height: 24px;
                border-radius: 24px;
              }
              .top-creators-card-author-name {
                color: #8e8e93;
                font-family: Fira Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 100% */
              }
            }
            .top-creators-card-bid {
              display: flex;
              flex-direction: column;
              .current-bid {
                color: #8e8e93;
                font-family: Fira Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
              }
              .top-creators-card-bid-price-in-eth {
                color: #000;
                font-family: Fira Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 120% */
              }
            }
          }
        }
      }
    }

    .top-creators-button-load-more {
      align-self: center;
      max-width: 257px;
      max-height: 56px;
      display: inline-flex;
      padding: 16px 64px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 56px;
      border-radius: 48px;
      border: 1px solid #aeaeb2;
      .top-creators-button-load-more-text {
        color: #000;
        font-family: Fira Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
      }
    }
  }
}
