.featured .featured-wrapper .featured-title {
  display: flex;
  justify-content: space-between;
}
.featured .featured-wrapper .featured-title .featured-title-text {
  color: #000;
  font-family: Fira Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 128.571% */
}
.featured .featured-wrapper .featured-title .featured-title-button-view-all {
  color: #8e8e93;
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}