.header .header-wrapper {
  display: flex;
  align-items: center;
  margin: 36px 48px;
}
.header .header-wrapper .header-logo {
  margin-right: 54px;
}
.header .header-wrapper .header-logo .header-name {
  color: #000000;
  font-family: Fira Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 98px;
  cursor: default;
}
.header .header-wrapper .header-nav {
  color: #000000;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 32px;
}
.header .header-wrapper .header-nav .header-nav-buttons {
  cursor: pointer;
}
.header .header-wrapper .header-nav .header-nav-buttons:hover {
  color: rgb(75, 75, 75);
}
.header .header-wrapper .header-search-bar {
  position: relative;
}
.header .header-wrapper .header-search-bar .header-search-bar-search {
  border: 1px solid #e5e5ea;
  padding: 16px 24px 16px 60px;
  border-radius: 60px;
  width: 387px;
  margin-right: 121px;
}
.header .header-wrapper .header-search-bar .header-search-bar-search::placeholder {
  color: #8e8e93;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header .header-wrapper .header-search-bar .header-search-bar-magnifier {
  position: absolute;
  left: 24px;
  top: 15px;
}
.header .header-wrapper .header-lightning {
  border: 0.5px #e5e5ea solid;
  border-radius: 10000px;
  padding: 10px;
  filter: drop-shadow(0px 10px 20px rgba(5, 16, 55, 0.1));
  margin-left: 32px;
  margin-right: 36px;
  cursor: pointer;
}
.header .header-wrapper .header-lightning:hover {
  background-color: #ebebeb;
}
.header .header-wrapper .header-button {
  padding: 16px;
  border: 0;
  background-color: rgba(0, 122, 255, 0.1215686275);
  border-radius: 33px;
}
.header .header-wrapper .header-button:hover {
  background-color: rgba(62, 156, 255, 0.1215686275);
}
.header .header-wrapper .header-button .header-button-text {
  color: #007aff;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}