.top-creators .top-creators-wrapper {
  max-width: 1344px;
  margin-left: 46px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
}
.top-creators .top-creators-wrapper .top-creators-title {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.top-creators .top-creators-wrapper .top-creators-title .top-creators-title-text {
  color: #000;
  font-family: Fira Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 128.571% */
}
.top-creators .top-creators-wrapper .top-creators-title .top-creators-title-button-view-all {
  color: #8e8e93;
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.top-creators .top-creators-wrapper .top-creators-cards {
  display: grid;
  grid-template-columns: repeat(4, 312px);
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card {
  max-width: 312px;
  border-radius: 16px;
  border: 1.5px solid #e6e6e6;
  background: #fff;
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info {
  display: flex;
  padding: 20px;
  gap: 16px;
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info .top-creators-card-info-img {
  width: 56px;
  aspect-ratio: 1/1;
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info .top-creators-card-info-name {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 88.889% */
  margin-bottom: 16px;
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info .top-creators-card-info-of-author {
  margin-bottom: 72px;
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info .top-creators-card-info-of-author .top-creators-card-info-of-author-text {
  color: rgba(60, 60, 67, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info .top-creators-card-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info .top-creators-card-follow .top-creators-card-amount-followers {
  color: #000;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.top-creators .top-creators-wrapper .top-creators-cards .top-creators-card .top-creators-card-info .top-creators-card-follow .top-creators-card-button {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 38px;
  background: #007aff;
  border: 0;
  color: #fff;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.top-creators .top-creators-wrapper .top-creators-button-load-more {
  align-self: center;
  max-width: 257px;
  max-height: 56px;
  display: inline-flex;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 56px;
  border-radius: 48px;
  border: 1px solid #aeaeb2;
  background: white;
}
.top-creators .top-creators-wrapper .top-creators-button-load-more .top-creators-button-load-more-text {
  color: #000;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}